@import '~antd/dist/antd.less';

.fade-enter {
	opacity: 0!important;
	transition: opacity 300ms ease-in!important;
}
.fade-enter.fade-enter-active {
  opacity: 1!important;
}
.fade-exit{
  opacity: 1!important;
  transition: opacity 300ms ease-in!important;
}
.fade-exit.fade-exit-active{
  opacity: 0!important;
  display: none!important;
}

@keyframes Gradient{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}